## ðŸ“¦ Importing Required Libraries

In [ ]:
# Data cleaning and analysis using pandas
import pandas as pd
# Plotting using seaborn
import seaborn as sns

## Reading .csv data into the Dataframe

In [ ]:
# Load the ultra marathon dataset from the CSV file
df = pd.read_csv("TWO_CENTURIES_OF_UM_RACES.csv", low_memory=False)

## Inspecting the Data

In [ ]:
# Display the first 10 rows of the DataFrame to get an initial look at the dataset
df.head(10)

In [ ]:
# Check the number of rows and columns in the DataFrame
df.shape

In [ ]:
# Display the data types of each column to understand the structure of the dataset
df.dtypes

## ðŸ” Data Filtering Criteria

The dataset was filtered using the following criteria:

- **Event Distance/Length:**
  - 50 km
  - 50 miles

- **Year of Event:**  
  - 2020

- **Event Location:**  
  - Country: USA

In [ ]:
# Filter the dataset to include only events with a distance of 50 kilometers
df[df["Event distance/length"] == '50K']

In [ ]:
# Replace the value '50K' with '50km' for consistency in the 'Event distance/length' column
df['Event distance/length'] = df['Event distance/length'].replace({'50K': '50km'})

In [ ]:
# Filter the DataFrame to include:
# - Events with a distance of either 50km or 50mi
# - Events that occurred in the year 2020
# - Events that took place in the USA (identified by '(USA)' in the event name)
df[(df["Event distance/length"].isin(['50km','50mi'])) & (df['Year of event'] == 2020) & (df['Event name'].str.contains(r'\(USA\)', regex=True, case=False))]

## ðŸ—ƒï¸ Creating a Filtered Dataset

We create a new DataFrame `df2` that contains only the ultra marathon events that meet the following criteria:
- Distance is either **50km**, **50K**, or **50mi**
- Event took place in the year **2020**
- Event location is in the **USA** (identified by "(USA)" in the event ame)

In [ ]:
# Create a new DataFrame (df2) by filtering the original dataset based on:
# 1. Event distance being either '50km', '50K', or '50mi'
# 2. Year of the event being 2020
# 3. Event name containing '(USA)', indicating events held in the United States
df2 = df[
    (df["Event distance/length"].isin(['50km', '50K', '50mi'])) &
    (df['Year of event'] == 2020) &
    (df['Event name'].str.contains(r'\(USA\)', regex=True, case=False))
]

In [ ]:
# Display the first 10 rows of the filtered DataFrame to verify the applied filters
df2.head(10)

In [ ]:
# Check the number of rows and columns in the filtered DataFrame
df2.shape

## âœ‚ï¸ Cleaning Event Names

Since we've already filtered the dataset to include only events from the USA in 2020, we can simplify the `Event name` column by removing the redundant "(USA)" tag. We'll keep only the main event name.

In [ ]:
# Remove the '(USA)' part from the event name by splitting at the parenthesis and keeping only the first part
df2['Event name'] = df2['Event name'].str.split('(').str.get(0)

## ðŸŽ¯ Calculating Athlete Age

We calculate the age of each athlete by subtracting their year of birth from the event year (2020). This gives us a new column `athlete_age` which will be useful for age-based analysis.

In [ ]:
# Calculate the athlete's age based on the event year (2020) and store it in a new column
df2['athlete_age'] = 2020 - df2['Athlete year of birth']

In [ ]:
# Displaying the Athlete Ages
df2['athlete_age']

## ðŸ§¹ Cleaning Athlete Performance Data

The `Athlete performance` column contains time values followed by a unit (e.g., "5:34:21 h").  
Since the unit "h" (hours) is consistent and unnecessary for numerical analysis, we remove it and retain only the time string.

In [ ]:
# Remove the 'h' unit from the 'Athlete performance' column by splitting on space and keeping only the time part
df2['Athlete performance'] = df2['Athlete performance'].str.split(' ').str.get(0)

In [ ]:
df2.head()

## Dropping Unnecessary Columns

The following columns will be removed from the dataset as they are not needed for the analysis:

- **Athlete Club**
- **Athlete Country**
- **Athlete Year of Birth**
- **Athlete Age Category**

In [ ]:
df2 = df2.drop(['Athlete club','Athlete country','Athlete year of birth','Athlete age category'], axis = 1)

In [ ]:
df2.head(5)

## Cleaning Null Values

In [ ]:
# Check the total number of null values in each column of the dataset
df2.isna().sum()

In [ ]:
# Inspect rows where the 'athlete_age' column has null values
df2[df2['athlete_age'].isna()]

In [ ]:
# Inspect rows where the 'athlete_age' column has null values
df2 = df2.dropna()

In [ ]:
df2.shape

## Check for Duplicate Values

In [ ]:
# Identify and display rows that have duplicate values in the dataset
df2[df2.duplicated() == True]

In [ ]:
# Check the data types of each column in the dataset
df2.dtypes

In [ ]:
# Convert the 'athlete_age' column to integer type
df2["athlete_age"] = df2["athlete_age"].astype(int)
# Convert the 'Athlete average speed' column to float type
df2["Athlete average speed"] = df2["Athlete average speed"].astype(float)

In [ ]:
# Check the updated data types of each column in the dataset
df2.dtypes

## Renaming Columns for Better Readability

In [ ]:
df2 = df2.rename(columns = {
    'Year of event':'year',
    'Event dates':'race_day',
    'Event name':'race_name',
    'Event distance/length':'race_length',
    'Event number of finishers':'race_number_of_finishers',
    'Athlete performance':'athlete_performance',
    'Athlete gender':'athlete_gender',
    'Athlete average speed':'athlete_average_speed',
    'Athlete ID':'athlete_id',
    'athlete_age':'athlete_age'
})

In [ ]:
df2.head()

## Reordering Columns

The columns are reordered to ensure a logical structure for analysis:

In [ ]:
# Reorder columns in the dataset to a more logical and readable sequence
df3 = df2[['race_day', 'race_name', 'race_length', 'race_number_of_finishers', 'athlete_id', 'athlete_gender', 'athlete_age', 'athlete_performance', 'athlete_average_speed']]

In [ ]:
# Reorder columns in the dataset to a more logical and readable sequence
df3 = df3.reset_index(drop = True)

In [ ]:
# Displaying the DataFrame with the new logical and readable sequence of columns
df3.head()

## Charts and Graphs

In [ ]:
# Plotting a Histogram of Race Length
sns.histplot(df3['race_length'])

In [ ]:
# Plotting a Histogram of Race Length with Gender Hue
sns.histplot(df3, x = 'race_length', hue = 'athlete_gender')

In [ ]:
# Plotting a Distribution Plot for Athlete Average Speed (50mi Race)
sns.displot(df3[df3['race_length'] == '50mi']['athlete_average_speed'])

In [ ]:
# Plotting a Violin Plot for Athlete Average Speed by Race Length and Gender
sns.violinplot(df3, x = 'race_length', y = 'athlete_average_speed', hue = 'athlete_gender', split = True, inner = 'quart', linewidth = 1)

In [ ]:
# Plotting a Linear Model Plot for Athlete Age vs. Average Speed by Gender
sns.lmplot(df3, x = 'athlete_age', y = 'athlete_average_speed', hue='athlete_gender')

## Questions based on the Data

In [ ]:
# What is the difference in average speed between male and female athletes for each race length (50k, 50mi)?
df3.groupby(['race_length', 'athlete_gender'])['athlete_average_speed'].mean()

In [ ]:
# Which age groups have the highest average speed in the 50mi race, with at least 20 races? (Show the top 15 age groups)
df3.query("race_length == '50mi'").groupby('athlete_age')['athlete_average_speed'].agg(['mean', 'count']).sort_values('mean', ascending=False).query('count > 19').head(15)

In [ ]:
# Which age groups have the lowest average speed in the 50mi race, with at least 20 races? (Show the bottom 20 age groups)
df3.query("race_length == '50mi'").groupby('athlete_age')['athlete_average_speed'].agg(['mean', 'count']).sort_values('mean', ascending=True).query('count > 19').head(20)

In [ ]:
# Does the data show that athletes are slower in the summer compared to winter?
# The seasons are categorized as:
# - Spring: March-May (months 3-5)
# - Summer: June-August (months 6-8)
# - Fall: September-November (months 9-11)
# - Winter: December-February (months 12-2)
# The race month is extracted, and the season is assigned based on the month.

In [ ]:
df3['race_month'] = df3['race_day'].str.strip('.').str.get(1).astype(int)

df3['race_season'] = df3['race_month'].apply(lambda x: 'Winter' if x>11 else 'Fall' if x>8 else 'Summer' if x>5 else 'Spring' if x>2 else 'Winter')

In [ ]:
df3.head(25)

In [ ]:
df3.groupby('race_season')['athlete_average_speed'].agg(['mean', 'count']).sort_values('mean', ascending = False)

In [ ]:
# What is the average speed for the 50mi race across different seasons?

In [ ]:
# This filters the data to only include the 50mi race and then groups it by season to calculate the mean speed for each season.
df3.query('race_length == "50mi"').groupby('race_season')['athlete_average_speed'].agg(['mean', 'count']).sort_values('mean', ascending = False)

## ðŸ“Œ Conclusion

Through this exploratory data analysis of ultra marathon races spanning two centuries, we uncovered several key insights:
- Participation in ultra marathons has grown significantly in recent years.
- There is a noticeable difference in participation rates across genders and age groups.
- Average finish times vary with distance, age, and gender.
- Outliers in completion times highlight the incredible endurance of top athletes.

These findings can help race organizers, athletes, and analysts better understand the evolution and demographics of ultra marathon running.